<div class="twelve columns comment">
	<div class="twelve columns panel" style="padding: 1%">
		<% user = User.find(comment.user_id) %>
		<div class="one columns" style="padding: 0%">
			<a href="#"><img src="<%= user.image %>" style="border: none; width: 100%; height: auto"></a>
		</div>
		<div class="eleven columns">
			<span class="subheader" style="font-size:18pt;"><%= comment.content %></span>
			<aside><span class="subheader" style=""><Added><%= user.name %> on <%= comment.created_at %></span></aside>
		</div>
	</div>
</div>