<div class="new_load_div">
<% new_media.each do |medium| %>
	<% unless medium["type"].nil? %>
		<% if medium["type"] == "youtube" %>
			<%= render :partial => "videos/show", :locals => { :video => medium, :poll_redis => true } %>
		<% elsif medium["type"] == "soundcloud" %>
			<%= render :partial => "sounds/show", :locals => { :sound => medium } %>
		<% end %>
	<% end %>
<% end %>
</div>