<div class="row three columns end">
	<div class="twelve columns side-panel-div">
		<div class="row" style="padding-left: 3%; margin-top: -5%">
			<h4 class="glyph social two columns" style="color: #FF5457; font-size: 18pt;">a</h4>
			<h5 class="ten columns end" style=" color: #545052;">Recommended</h5>
		</div>
		<% unless @ranked_pages.nil? %>
			<% @ranked_pages.each_with_index do |page, i| %>

			<div class="subheader row side-panel" style="font-size: 12pt; font-weight: bold; margin: 1%">
				<div style="float: left; font-weight: bold; font-size: 14pt; margin-right: 5px; color: #545052"><%= i+1  %>.</div><%= link_to " #{page[:name]}", page_path(page), :method => "get", :style => "line-height: 20pt; float: left; color: #5B8DBC", :class => "side-panel" %></div>
			<!-- <div class="twelve columns" style="margin-top: 1pt">
							<hr class="twelve columns horizontal-rule">
						</div> -->
			<% end %>
		<% else %>
		<div class="subheader row side-panel" style="margin: 0%; font-size: 14pt; color: #5B8DBC">Rate More Content to Receive Page Recommendations!</div>
		<!-- <div class="twelve columns">
						<hr class="twelve columns horizontal-rule">
					</div> -->
		<% end %>
	</div>
</div>