<div class="rating-div twelve columns">
	<div class="seven columns" style="margin-left: -10%">
		<% if current_user %>
			<% if current_user.liked?(medium['id']) %>
				<div class="one columns like-div" style="margin-bottom: 3%; margin-top: 5%">
					<a href="#" class="already-liked"><span class="glyph already-liked-text general like-text">b</span></a>
				</div>
			<% else %>
			<div class="one columns like-div" style="margin-bottom: 3%; margin-top: 5%">
				<%= link_to like_user_path(current_user, :media_id => medium['id']), :method =>'post', :remote => true, :id =>"#{medium['id']}_liked" do %>
					<span class="glyph general like-text">b</span>
				<% end %>
			</div>
			<% end %>
		<% else%>
			<div class="one columns like-div" style="margin-bottom: 3%; margin-top: 5%">
				<a href="#" class="not-logged-in"><span class="glyph general like-text">b</span></a>
			</div>
		<% end %>
	</div>
	<div class="five columns score-div" style="margin-top: -6%;">
		<h6 style="color: grey; float: right">
		<% unless current_user.nil? %>
			<% if current_user.id == medium['user_id'].to_i || current_user.uid.to_i == 1092240216 %>
				<%= link_to "/media/#{medium['id']}", :method => :delete, :class => "delete-button", :remote => :true, :confirm => "Are You Sure You Want to Remove This Item?"  do %>
					<span class="glyph general" style="font-size: 10pt;">g</span>
				<% end %>
			<% end %>
		<% end %>
		</h6>
	</div>
</div>

