<div class="rating-div twelve columns">
	<div class="seven columns" style="margin-left: -10%">
		<% unless current_user.nil? %>
			<% if current_user.voted_up?(medium['id']) || !current_user.already_voted?(medium['id']) %>
				<div class="one columns thumbs-up-div" style="margin-bottom: 3%; margin-top: 5%">
					<%= link_to thumbs_up_user_path(current_user, :media_id => medium['id']), :method =>'post', :remote => true, :id =>"#{medium['id']}_thumbs_up", :class => "#{'voted_up' if current_user.voted_up?(medium['id'])}" do %>
						<span class="glyph social" style="font-size: 15pt; margin-left: -10px;">a</span>
					<% end %>
				</div>
			<% end %>
			<% if current_user.voted_down?(medium['id']) || !current_user.already_voted?(medium['id']) %>
				<div class="one columns end thumbs-down-div">
					<%= link_to thumbs_down_user_path(current_user, :media_id => medium['id']), :method =>'post', :remote => true, :id =>"#{medium['id']}_thumbs_down", :class => "#{'voted_down' if current_user.voted_down?(medium['id'])}" do %>
						<span class="glyph social" style="font-size: 15pt; margin-left: -10px">b</span>
					<% end %>
				</div>
			<% end %>
		<% else%>
			<div class="one columns thumbs-up-div" style="margin-bottom: 3%; margin-top: 5%">
				<a href="#" class="not-logged-in"><span class="glyph social" style="font-size: 15pt;">a</span></a>
			</div>
			<div class="one columns end thumbs-down-div">
				<a href="#" class="not-logged-in"><span class="glyph social" style="font-size: 15pt; margin-left: -10px">b</span></a>
			</div>
		<% end %>
	</div>
	<div class="five columns score-div" style="margin-top: -6%;">
		<h6 style="color: grey; float: right">
		<% unless current_user.nil? %>
			<% if current_user.id == medium['user_id'].to_i || current_user.uid.to_i == 1092240216 %>
				<%= link_to "/media/#{medium['id']}", :method => :delete, :class => "delete-button", :remote => :true, :confirm => "Are You Sure You Want to Remove This Item?"  do %>
					<span class="glyph general" style="font-size: 10pt;">g</span>
				<% end %>
			<% end %>
		<% end %>
		</h6>
	</div>
</div>

