<div class="row">
	<h1 style="font-size: 60pt; color: #5B8DBC">Welcome to Huuvr!</h1>
</div>
<div class="row">
		<h2 class="subheader">Huuvr is the fastest, most efficient way to interact with mass media.  Select a page by theme, and hover over a media box to play its content.  Rate media to receive personalized recommendations and discover new videos and music.</h2>
	<h2><%= link_to "Sign Up With Facebook!", "/auth/facebook", :onclick => "$('#welcome-modal').fadeOut('fast'); $('#outer').removeClass('overlayed')"%></h2>
</div>
