<div id="recent-pages" class="row">
	<div class="twelve columns" style="margin-left: -1%">
		<div class="three columns">
			<h2>Trending Pages:</h2>
		</div>
		<div class="nine columns end">
			<% @recent_pages.each do |page| %>
				<div class="columns end">
					<h3 class="subheader"><%= link_to page[:name], page_path(page), :method => "get", :style=>"color:grey" %></h3>
				</div>
			<% end %>
		</div>
	</div>
</div>


<div id="masonry-container" class="masonry media_div infinite-scroll clearfix" data-page_id="index" >
	<% @media.each do |medium| %>
		<% unless medium["type"].nil? %>
			<% if medium["type"] == "youtube" %>
				<%= render :partial => "videos/show", :locals => {:video => medium, :poll_redis => false} %>
			<% elsif medium["type"] == "soundcloud" %>
				<%= render :partial => "sounds/show", :locals => {:sound => medium} %>
			<% end %>
		<% end %>
	<% end %>
</div>