/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require foundation_and_overrides
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 */

*{
	font-family: sans-serif;
}
#outer{
	background: url('cream_dust.png');
	min-height: 1000px;
}

#login_div{
	color: white;	
}
#masonry-container {
  background: transparent;
  padding: 5px;
  margin-bottom: 20px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  border-radius: 0px;
  box-shadow: 0 0 3px grey;
  margin-bottom: 10px;
  cursor: pointer;
}

.col3 { width: 365px;  }
.col4 { width: 365px; }


.yt-video{
	width: 355px;
	height: 266px;
	margin-left: 2%;
	z-index: -10000;
}

.centered { margin: 0 auto; }

.overlay{
	position:absolute;
	height: 266px;
	width: 360px;
	margin-left: 6%;
	background: url('video-loader.gif');
	background-position: center;
	background-size: 100%;
	z-index: 1;
	background-repeat: no-repeat;
}

.sc_overlay{
	position: absolute;
	height: 90px;
	width: 99%;
	background: url('video-loader.gif');
	background-position: center;
}


.widescreen{
	height: 200px;
}

.widescreen_overlay{
	height: 210px;
}

.sc-player{
	margin-left: 20px;
}

.row{
	width: 100%;
}

.user-info{
	margin: -1%;
	background: #E5E5E5;
	padding: 1%;
	height: 50px;
	color: #505050;
}

.tag{
	color: grey;
}
