/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require token-input
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 */


*{
	font-family: sans-serif;
}

body{
	min-width: 1220px;
}


h3, h2, h1, h4{
	color: #545052;
}


#outer{
	background: url('cream_dust.png');
	height: 100%;
}

#login_div{
	color: white;	
}
#masonry-container {
  background: transparent;
  padding: 0px;
  margin-bottom: 20px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  border-radius: 2px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.4);
  margin-bottom: 10px;
  cursor: pointer;
}

.box:hover{
	box-shadow: 0 0 10px #1E50BC;
}

.selected{
	box-shadow: 0 0 10px #1E50BC;	
}

.col3 { width: 210px;  }
.col4 { width: 250px; }


.yt-video{
	width: 96%;
	margin-left: 2%;
	z-index: -10000;
}

.centered { margin: 0 auto; }

.overlay{
	position:absolute;
	margin-top: 22px;
	width: 100%;
	height: 170px;
	margin-left: 7%;
	background: url('video-loader.gif');
	background-position: center;
	background-size: 100%;
	z-index: 1;
}

.sc_overlay{
	position: absolute;
	height: 100px;
	margin-top: 22px;
	width: 100%;
	background: url('video-loader.gif');
	background-position: center;
	background-size: 100%;
	z-index: 1;
}

.widescreen{
	height: 106.9px;
}

.widescreen_overlay{
	height: 115px;
}



.sc-player{
	margin-left: 20px;
	z-index: -10000;
}

.row{
	width: 100%;
	margin-left: 2%;
}

.user-info{
	width: 100%;
	height: 100%;
	background: #E5E5E5;
	padding: 2%;
	height: 100%;
	color: #505050;	
}

.tag{
	color: grey;
}

.pagination{
	visibility: hidden;
}

a{
	color: #999;
}

a:hover{
	color: #272727;
	cursor: pointer;
}

.hide-link{
	display:none;
}

.voted_down{
	color: #C9565E;
}

.voted_up{
	color: #719975;
}

.glyph{
	margin-left: -5%;
}

.reccomended-list{
	margin: 0%;
}

.nav-bar{
	background:#FFF;
	box-shadow: 0 0 3px grey;
	height: 50pt;
	border-right: none;
}

.box-link{
	color: #637699;
	font-size: 8pt;
}

.box-link:hover{
	color:#131C35;
}

.nav-bar>li{
	border: none;
	box-shadow: none;
	height: 100%;
}

.nav-bar>li:hover{
	background: #FFF;
	box-shadow: none;
	height: 100%;
}

.nav-bar>li>a{
	color: #5B8DBC;
	font-weight: bold;	
	height: 100%;	
}

.nav-bar>li>a:first-child{
	font-size: 12pt;
	line-height: 75pt;
}

.nav-bar>li>a:hover{
	color: #323232;
}

ul.flyout li a, .nav-bar li ul li a{
	background: #fff;
	box-shadow: none;
}

.flyout{
	margin-top: 40%;
	margin-left: 10%;
}

.nav-form {
	-webkit-appearance:none;
	margin-top:  22pt;
}

#logo-img{
	width: 150px;
	height: 110px;
	margin-top: -10%;
}

#logo{
}

#logo:hover{
	color: #5B8DBC;
}

.overlayed{
	filter: blur(2px) brightness(-0.4);
	-webkit-filter: blur(2px) brightness(-0.4);
	-moz-filter: blur(2px) brightness(-0.4);
	-o-filter: blur(2px) brightness(-0.4);
	-ms-filter: blur(2px) brightness(-0.4);
}

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.cat-filter{
	font-size: 16pt !important;
	background: #8BEE7E !important;
	padding: 1%;
	margin: 1%;

}

.tag-filter{
	background: #EDE548 !important;
	font-size: 10pt !important;
	line-height: 32pt;
	padding: 1%;
	margin: 2%;
}

.horizontal-rule{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	clear: both;
	min-width: 130%;
	margin-left: -15%;
	margin-bottom: 3%;
	margin-top: 3%;

}
.side-panel-div{
	background: #FFF;
	min-height: 300px; 
	padding: 5%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.2);
	margin-top: 10%;
	max-width: 220px;
	margin-left: 14%;
}

a.side-panel:hover{
	color: #090A42 !important;
}

.vertical-rule{
	position: absolute;
	height: 600px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #E4E4E4;
	margin-left: -5%;
}